.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 525px;
  width: 400px;

  background-color: #BBB;

  margin: 0px auto;

  margin-top: 10%;
}

.login-header{
  font-size: 1.8rem;
  margin-top: 10%;
  margin-bottom: 8%;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-label{
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.login-input {
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 100%;
}

.login-botao-entrar{
  margin: 20px 0px;
  height: 50px;
  border: none;
  border-radius: 10px; 
  color: #FFF;
  font-size: 1.2rem;
  background-color: #2A61BF;
}

.login-recuperacao-senha{
  text-decoration: underline;
  text-align: center;
  margin: 10px 0px;
}

.login-divisor{
  width: 100%;
}

.login-criar-conta{
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  border: none;
  border-radius: 10px; 
  width: 170px;
  color: #FFF;
  font-size: 1.1rem;
  background-color: #EB9C00;
}