.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 400px;
  width: 400px;

  background-color: #BBB;

  margin: 0 auto;
}

.loginheader{
  font-size: 1.8rem;
}

.loginform{
  display: flex;
  flex-direction: column;
}